/* ================= SMALL MOBILE ================= */
@media (max-width: 320px) {
  /* Малки телефони */
}

/* ================= MOBILE ================= */
@media (min-width: 321px) and (max-width: 767px) {
  /* Стандартни мобилни устройства */
}

/* ================= TABLET ================= */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Таблети */
}

/* ================= LAPTOP / SMALL DESKTOP ================= */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Средни лаптопи / малки десктопи */
}

/* ================= LARGE DESKTOP ================= */
@media (min-width: 1440px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f8fafc;
    color: #111111;
  }

  section,
  header {
    scroll-margin-top: 80px;
  }

  header,
  #projects {
    min-height: 80vh;
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skills,
  #about {
    min-height: 55vh;
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contacts {
    min-height: 60vh;
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    margin: 0;
  }

  #about,
  #skills,
  #contacts,
  #projects {
    margin: 0 auto;
  } 
}
