header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    max-width: 800px;
    margin: 80px auto;
}

.header-photo {
    display: flex;
    justify-content: flex-start;
}

.header-photo img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.header-photo img:hover {
  transform: scale(1.1); 
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    max-width: 400px;
}

.header-text p {
    border: 2px solid red;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.header-description {
    font-size: 20x;
    line-height: 1.5;
    max-width: 400px;
    display: block;
    text-align: center;
}

.header-description h2 {
    font-size: 25px;
    display: block;
    text-align: center;
    max-width: 400px;
}
