/* ================= SMALL MOBILE ================= */
@media (max-width: 320px) {
  /* Малки телефони */
}

/* ================= MOBILE ================= */
@media (min-width: 321px) and (max-width: 767px) {
  /* Стандартни мобилни устройства */
}

/* ================= TABLET ================= */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Таблети */
}

/* ================= LAPTOP / SMALL DESKTOP ================= */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Средни лаптопи / малки десктопи */
}

/* ================= LARGE DESKTOP ================= */
@media (min-width: 1440px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 49%;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    background-color: #7fb3f2;
    z-index: 1000;
  }

  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }

  .navbar .nav-links li a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }

  .navbar .nav-links li a:hover {
    color: #5f93ed;
    text-decoration: underline;
  }
}
